# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
.tmp.*
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.angular
/.sass-cache
/connect.lock
/coverage
/dist
/e2e
/libpeerconnection.log
/node_modules
/platforms
/plugins
/www

# IDE
.idea/
.vscode/
.vs/
*.swp
*.swo

# misc
/.angular/cache
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase/

# System Files
.DS_Store
Thumbs.db
